#teste {
  background-color: #ED6F00 !important;
  border-radius: 12px;
  margin-top: 126px;

  #busca-usuario {
    max-width: 90%;
  }

  #btn-buscar {
    margin-left: 8px;
    width: 8%;

    @media (max-width: 600px) {
      width: 16%;
    }
  }
}
