<!--p> - {{users.name}} <br> - {{users.bio}} <br> - {{users.location}} </p-->

<div class="card user">
  <div class="card-body">
    <div class="row">
      <div class="col-md-2 col-xs-12" id="img-card">
        <img class="img" src="{{users.avatar_url}}" />
      </div>
      <div class="col-md-6 col-xs-12" id="corpo">
        <h2>Nome: {{users.name}} </h2>
        <br>
        <p><strong>Bio:</strong> {{ users.bio }}</p>
        <br>
        <p> <strong>Username:</strong> {{ users.login }}</p>

        <app-repositorios></app-repositorios>

      </div>
    </div>
  </div>
</div>
