.card {
  margin-bottom: 20px;
  margin-top: 9%;

  @media (max-width: 600px) {
    margin-top: 54%;
    ;
  }

  @media (max-width: 768px) {
    margin-top: 30%;
  }

  /*@media (min-width: 1024px) {
    margin-top: 16%;
  }*/
}

.img {
  border: solid 2px#0000CD;
  border-radius: 20%;
  /*height: 70%;*/
  margin-left: 102%;

  @media (max-width: 600px) {
    border: solid 2px#0000CD;
    border-radius: 20%;
    height: 70%;
    margin-left: 2%;
    ;
  }

  @media (max-width: 768px) {
    border: solid 2px#0000CD;
    border-radius: 20%;
    height: 70%;
    margin-left: -2%;
  }

  @media (max-width: 1024px) {
    margin-left: 4%;
  }
}

.user h2 {
  font-size: 1.25rem;
}

.user p {
  color: #3D4451;
}

#corpo {
  margin-left: 28%;
  margin-top: 4%;


  @media (max-width: 600px) {
    margin-left: 8% !important
  }

  @media (max-width: 768px) {
    margin-left: 33%;
    margin-top: 10%;
  }

  @media (min-width: 1024px) {
    margin-left: 33%;
    margin-top: 10%;
  }
}

#img-card {
  margin-top: 4%;
  ;
}
